In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'large_country_data.csv')

In [3]:
df

,Rank,Country,Continent,Population_millions,GDP_billion_USD,Year,Capital,Currency,Language,Area_sq_km,Timestamp
0,1,Canada,North America,1242,7549,2008,Ottawa,CAD,English,9984670,2000-01-01 00:00:00
1,2,Nigeria,Africa,1145,24626,2019,Abuja,NGN,English,923769,2000-01-02 00:00:00
2,3,Nigeria,Africa,786,9178,2001,Abuja,NGN,English,923769,2000-01-03 00:00:00
3,4,India,Asia,164,22606,2022,New Delhi,INR,Hindi,3287263,2000-01-04 00:00:00
4,5,Canada,North America,704,5739,2023,Ottawa,CAD,English,9984670,2000-01-05 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
995,996,India,Asia,1106,14036,2022,New Delhi,INR,Hindi,3287263,2002-09-22 00:00:00
996,997,China,Asia,1086,2782,2009,Beijing,CNY,Mandarin,9596961,2002-09-23 00:00:00
997,998,Japan,Asia,1035,3076,2022,Tokyo,JPY,Japanese,377975,2002-09-24 00:00:00
998,999,Japan,Asia,291,8372,2000,Tokyo,JPY,Japanese,377975,2002-09-25 00:00:00
999,1000,Brazil,South America,1258,16991,2016,Brasília,BRL,Portuguese,8515767,2002-09-26 00:00:00

In [4]:
df.shape

(1000, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 1000 non-null   int64
 1   Country              1000 non-null   object
 2   Continent            1000 non-null   object
 3   Population_millions  1000 non-null   int64
 4   GDP_billion_USD      1000 non-null   int64
 5   Year                 1000 non-null   int64
 6   Capital              1000 non-null   object
 7   Currency             1000 non-null   object
 8   Language             1000 non-null   object
 9   Area_sq_km           1000 non-null   int64
 10  Timestamp            1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [6]:
df.describe()

,Rank,Population_millions,GDP_billion_USD,Year,Area_sq_km
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
mean,500.500000,748.090000,12595.115000,2011.237000,4.397016e+06
std,288.819436,421.355926,7007.444256,6.869791,4.256924e+06
min,1.000000,12.000000,129.000000,2000.000000,2.436100e+05
25%,250.750000,389.000000,6920.000000,2005.000000,3.779750e+05
50%,500.500000,731.000000,12723.500000,2011.000000,3.287263e+06
75%,750.250000,1105.000000,18558.000000,2017.000000,9.596961e+06
max,1000.000000,1498.000000,24973.000000,2023.000000,9.984670e+06

In [8]:
#highest population

df[df['Population_millions'] == df['Population_millions'].max()]

,Rank,Country,Continent,Population_millions,GDP_billion_USD,Year,Capital,Currency,Language,Area_sq_km,Timestamp
500,501,Japan,Asia,1498,1788,2012,Tokyo,JPY,Japanese,377975,2001-05-15 00:00:00
621,622,Brazil,South America,1498,3606,2021,Brasília,BRL,Portuguese,8515767,2001-09-13 00:00:00

In [9]:
df[df['Population_millions'] == df['Population_millions'].max()]['Country']

500     Japan
621    Brazil
Name: Country, dtype: object

In [10]:
df[df['Population_millions'] == df['Population_millions'].max()]['Capital']

500       Tokyo
621    Brasília
Name: Capital, dtype: object

In [11]:
df[df['Population_millions'] == df['Population_millions'].min()]

,Rank,Country,Continent,Population_millions,GDP_billion_USD,Year,Capital,Currency,Language,Area_sq_km,Timestamp
246,247,India,Asia,12,14998,2002,New Delhi,INR,Hindi,3287263,2000-09-03 00:00:00

In [12]:
df[df['Population_millions'] == df['Population_millions'].min()]['Capital']

246    New Delhi
Name: Capital, dtype: object

In [13]:
#top 5 countries with higjest area_sq_km
df.sort_values(by = 'Area_sq_km', ascending = False, inplace = True)

In [14]:
df.head()

,Rank,Country,Continent,Population_millions,GDP_billion_USD,Year,Capital,Currency,Language,Area_sq_km,Timestamp
0,1,Canada,North America,1242,7549,2008,Ottawa,CAD,English,9984670,2000-01-01 00:00:00
540,541,Canada,North America,311,10472,2010,Ottawa,CAD,English,9984670,2001-06-24 00:00:00
817,818,Canada,North America,849,3920,2018,Ottawa,CAD,English,9984670,2002-03-28 00:00:00
823,824,Canada,North America,1084,17550,2019,Ottawa,CAD,English,9984670,2002-04-03 00:00:00
100,101,Canada,North America,1433,9177,2005,Ottawa,CAD,English,9984670,2000-04-10 00:00:00

In [17]:
#show how many languages are there
df['Language'].value_counts().count()

7

In [19]:
#countries life in new delhi in capital
df[df['Capital'] == 'New Delhi']

,Rank,Country,Continent,Population_millions,GDP_billion_USD,Year,Capital,Currency,Language,Area_sq_km,Timestamp
492,493,India,Asia,14,13326,2005,New Delhi,INR,Hindi,3287263,2001-05-07 00:00:00
498,499,India,Asia,960,19340,2020,New Delhi,INR,Hindi,3287263,2001-05-13 00:00:00
171,172,India,Asia,454,169,2000,New Delhi,INR,Hindi,3287263,2000-06-20 00:00:00
712,713,India,Asia,214,23694,2009,New Delhi,INR,Hindi,3287263,2001-12-13 00:00:00
148,149,India,Asia,1483,12349,2018,New Delhi,INR,Hindi,3287263,2000-05-28 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
815,816,India,Asia,194,19511,2023,New Delhi,INR,Hindi,3287263,2002-03-26 00:00:00
110,111,India,Asia,1300,16212,2022,New Delhi,INR,Hindi,3287263,2000-04-20 00:00:00
315,316,India,Asia,1481,10892,2002,New Delhi,INR,Hindi,3287263,2000-11-11 00:00:00
802,803,India,Asia,978,15460,2014,New Delhi,INR,Hindi,3287263,2002-03-13 00:00:00
424,425,India,Asia,1061,6201,2002,New Delhi,INR,Hindi,3287263,2001-02-28 00:00:00

In [20]:
df[df['Capital'] == 'New Delhi']['Country']

492    India
498    India
171    India
712    India
148    India
       ...
815    India
110    India
315    India
802    India
424    India
Name: Country, Length: 107, dtype: object

In [30]:
#GDP_billion_USD of 2nd highest populated country
df[df['Population_millions'] == df['Population_millions'].nlargest(2).iloc[1]]['GDP_billion_USD']

621    3606
500    1788
Name: GDP_billion_USD, dtype: int64

In [31]:
df[df['Capital'].isna()]

Empty DataFrame
Columns: [Rank, Country, Continent, Population_millions, GDP_billion_USD, Year, Capital, Currency, Language, Area_sq_km, Timestamp]
Index: []

In [33]:
#how many Continent have south in their full namne
count = 0
def counting(txt):
    global count 
    if 'south' in txt.lower():
        count+=1
        return txt
df['Continent'] = df['Continent'].apply(counting)
print(count)

110

In [47]:
# Filter only Asian countries
africa_df = df[df['Continent'] == 'Africa']

# Get the row(s) with the maximum population in Asia
largest_pop_africa = africa_df[africa_df['Population_millions'] == africa_df['Population_millions'].max()]['Country']

print(largest_pop_africa)

Series([], Name: Country, dtype: object)

In [48]:

# Check continent labels
print(df['Continent'].unique())

# Strip whitespace
df['Continent'] = df['Continent'].str.strip()

# Ensure numeric population
df['Population_millions'] = pd.to_numeric(df['Population_millions'], errors='coerce')

# Filter Asia again
asia_df = df[df['Continent'] == 'Asia']
print(asia_df.shape)   # should not be (0, x)

# Get largest population in Asia
largest_pop_asia = asia_df[asia_df['Population_millions'] == asia_df['Population_millions'].max()]
print(largest_pop_asia[['Country','Population_millions']])

[None 'South America']
(0, 11)
Empty DataFrame
Columns: [Country, Population_millions]
Index: []