In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {
    'Categories' : [ 'A', 'B','A', 'B','A', 'B','A', 'B'], # 8 values alternating
    'Stores': ['S1', 'S2', 'S1', 'S2','S1', 'S2','S1', 'S2'],    # 8 values alternating
    'Sales' : [100, 150, 120, 180, 130, 160, 140, 170],
    'Quantity' : [10, 15, 12, 18, 13, 16, 14, 17],
    'Dates' : pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [4]:
df

  Categories Stores  Sales  Quantity      Dates
0          A     S1    100        10 2023-01-01
1          B     S2    150        15 2023-01-02
2          A     S1    120        12 2023-01-03
3          B     S2    180        18 2023-01-04
4          A     S1    130        13 2023-01-05
5          B     S2    160        16 2023-01-06
6          A     S1    140        14 2023-01-07
7          B     S2    170        17 2023-01-08

In [6]:
#Group by category and calculate the sum of sales
cat = df.groupby('Categories')
cat
for i, v in cat:
    print(i)
    print(v)

A
  Categories Stores  Sales  Quantity      Dates
0          A     S1    100        10 2023-01-01
2          A     S1    120        12 2023-01-03
4          A     S1    130        13 2023-01-05
6          A     S1    140        14 2023-01-07
B
  Categories Stores  Sales  Quantity      Dates
1          B     S2    150        15 2023-01-02
3          B     S2    180        18 2023-01-04
5          B     S2    160        16 2023-01-06
7          B     S2    170        17 2023-01-08

In [7]:
cat = df.groupby('Categories')['Sales'].sum()
cat

Categories
A    490
B    660
Name: Sales, dtype: int64

In [9]:
cat = df.groupby('Stores')['Sales'].sum()
cat

Stores
S1    490
S2    660
Name: Sales, dtype: int64

In [10]:
#group by multiple columns
#group by categories and stores
cat = df.groupby(['Categories', 'Stores'])['Sales'].sum()
cat

Categories  Stores
A           S1        490
B           S2        660
Name: Sales, dtype: int64

In [11]:
#Agreegation

In [12]:
df['Sales'].mean()

143.75

In [14]:
df['Sales'].median()

145.0

In [16]:
df['Sales'].agg(['mean', 'sum', 'min', 'max', 'count', 'std'])

mean      143.750000
sum      1150.000000
min       100.000000
max       180.000000
count       8.000000
std        26.692696
Name: Sales, dtype: float64